@charset "utf-8";

// $base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$base-font-family: "Lato" !default;

$base-font-size:   16px !default;
$med-font-size:    18px !default;
$large-font-size:  32px !default;

$base-font-weight: 400 !default;
$light-font-weight: 300 !default;
$bold-font-weight: 700 !default;

$base-line-height: 1.3 !default;
$spacing-unit:     30px !default;

$background-color: white !default;
$text-color:       #4a4a4a !default;
$primary-color:    #489996 !default;
$accent-color:     #CFC8F0 !default;
$grey-color:       #7a7a7a !default;
$grey-color-light: #aeaeae !default;

$table-text-align: left !default;

// Width of the content area
$content-width:    800px !default;
$on-laptop:        800px !default;
$on-palm:          600px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit;
//     padding-left: $spacing-unit;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting"
;
