---
layout: default
title: HOME
permalink: /home/
---

<div class="page-wrapper">
  <div class="page-content">
    <h2>Welcome to</h2>
    <h1>Language + Culture
      <br>Exchange Club</br>
    </h1>
    <h3>Scroll to learn more</h3>
  </div>
  <img id="earth-img" src="/assets/images/earth-cropped.png" width="550px">
</div>


<!-- <div class="page-wrapper">
    <div class="bss-slides" tabindex="1" autofocus="autofocus">
        <figure>
          <a data-flickr-embed="false" href="https://www.flickr.com/photos/194763409@N08/51950749823/in/dateposted-public/" title="Zeytinpark"><img src="https://live.staticflickr.com/65535/51950749823_a8705ba832_h.jpg" width="1600" height="1105" alt="Zeytinpark"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>        </figure>
        <figure>
          <a data-flickr-embed="false" href="https://www.flickr.com/photos/194763409@N08/51950748513/in/dateposted-public/" title="Foro di Nerva"><img src="https://live.staticflickr.com/65535/51950748513_79873331e7_k.jpg" width="2048" height="1536" alt="Foro di Nerva"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
        </figure>
        <figure>
          <a data-flickr-embed="false" href="https://www.flickr.com/photos/194763409@N08/51950892047/in/dateposted-public/" title="Termessos"><img src="https://live.staticflickr.com/65535/51950892047_170041b20c_k.jpg" width="2048" height="1536" alt="Termessos"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
        </figure>
        <figure>
          <a data-flickr-embed="false" href="https://www.flickr.com/photos/194763409@N08/51967646330/in/dateposted-public/" title="Fethiye"><img src="https://live.staticflickr.com/65535/51967646330_9f77c2ba82_k.jpg" width="1536" height="2048" alt="Fethiye"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
        </figure>
        <figure>
          <a data-flickr-embed="false" href="https://www.flickr.com/photos/194763409@N08/51966079957/in/dateposted-public/" title="Fethiye"><img src="https://live.staticflickr.com/65535/51966079957_2d762aa0e1_k.jpg" width="2048" height="1536" alt="Fethiye"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
        </figure>
    </div>
    {% comment %} <img src="/assets/images/crosshatch.png" style="position: absolute; top: 320px; left: 180px; width: 400px;"> {% endcomment %}
</div>
  
  <script>
      makeBSS('.bss-slides');
  </script> -->


