---
layout: default
title: HOME
permalink: /home/
---

<div class="row-content-wrapper" id="home-header-wrapper">
    <div class="row-content" style="padding-bottom: 45px;"">
      <h2 class="home-header" style="font-size: 32px;">Welcome to</h2>
      <h1 class="home-header">Language + Culture
        <br>Exchange Club</br>
      </h1>
      <h3 class="home-header" id="home-h3">LCE encourages students who are interested in learning languages of all kinds and travel to join together in a safe, inclusive group where we all support each other's language-learning journey.</h3>
      <a href="/join/" id="home-button-container">
        <span class="site-button" id="home-button-text" style="color: white; margin-top: 30px;">Join today!</span>
      </a>
    </div>
  <img id="home-earth-img" src="/assets/images/earth3.png">
</div>

<div id="info-section-container">
    <div class="info-section-block">
      <h2>Study Groups</h2>
      <img src="/assets/images/studying.png" class="info-section-img" style="transform: rotate(90deg);">
      <div class="info-section-descrip">
        <p>Join groups of students learning the same 
          language as you are. All languages are welcome! 
          Study and practice together with new friends in 
          an encouraging, judgement-free community of 
          other language-learners. Learning multiple 
          languages? Feel free to join different 
          language groups during each club meeting to 
          practice a different language each week!
        </p>
      </div>
    </div>
    <div class="info-section-block">
      <h2>Activities</h2>
      <img src="/assets/images/painting.png" class="info-section-img">
      <div class="info-section-descrip">
        <ul>
          <li>Foreign movie nights (with subtitles!)</li>
          <li>Trivia and prizes (based on movies we watch together & group workshops)</li>
          <li>Practice real-world scenarios with funny roleplaying games in individual language groups (for example: one student is a customer at a cafe, ordering from another student who’s a snobby waitress!)</li>
          <li>Story reading (basic, intermediate and advanced levels)</li>
          <li>Get creative: make art together with your language group to enhance learning</li>          
        </ul>
      </div>
    </div>
    <div class="info-section-block">
      <h2>Experiences</h2>
      <img src="/assets/images/sample-image.jpg" class="info-section-img">
      <div class="info-section-descrip">
        <p>In LCE Club you'll be introduced to useful resources and tools to help 
          you improve your language-learning journey. You'll also make meaningful 
          connections, allowing you to learn faster than before.</p>
      </div>
    </div>
</div>

<!-- <iframe style="border: none;height: 100vh" src="https://lceclub.com" width="100%"></iframe> -->

<!-- <div class="page-wrapper">
    <div class="bss-slides" tabindex="1" autofocus="autofocus">
        <figure>
          <a data-flickr-embed="false" href="https://www.flickr.com/photos/194763409@N08/51950749823/in/dateposted-public/" title="Zeytinpark"><img src="https://live.staticflickr.com/65535/51950749823_a8705ba832_h.jpg" width="1600" height="1105" alt="Zeytinpark"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>        </figure>
        <figure>
          <a data-flickr-embed="false" href="https://www.flickr.com/photos/194763409@N08/51950748513/in/dateposted-public/" title="Foro di Nerva"><img src="https://live.staticflickr.com/65535/51950748513_79873331e7_k.jpg" width="2048" height="1536" alt="Foro di Nerva"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
        </figure>
        <figure>
          <a data-flickr-embed="false" href="https://www.flickr.com/photos/194763409@N08/51950892047/in/dateposted-public/" title="Termessos"><img src="https://live.staticflickr.com/65535/51950892047_170041b20c_k.jpg" width="2048" height="1536" alt="Termessos"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
        </figure>
        <figure>
          <a data-flickr-embed="false" href="https://www.flickr.com/photos/194763409@N08/51967646330/in/dateposted-public/" title="Fethiye"><img src="https://live.staticflickr.com/65535/51967646330_9f77c2ba82_k.jpg" width="1536" height="2048" alt="Fethiye"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
        </figure>
        <figure>
          <a data-flickr-embed="false" href="https://www.flickr.com/photos/194763409@N08/51966079957/in/dateposted-public/" title="Fethiye"><img src="https://live.staticflickr.com/65535/51966079957_2d762aa0e1_k.jpg" width="2048" height="1536" alt="Fethiye"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
        </figure>
    </div>
    {% comment %} <img src="/assets/images/crosshatch.png" style="position: absolute; top: 320px; left: 180px; width: 400px;"> {% endcomment %}
</div>
  
  <script>
      makeBSS('.bss-slides');
  </script> -->


